/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --title-color: #eee;
  --sub-title-color: #222;
  --rounds__title-color: #222;
  --primary-color: #33b667;
  --body-color: #f7f7f7;
  --button-color: #eee;
  --container-color: #f8f9fa;
  --disabled-color: #d3d3d3;
  --text-color: #222;
  --divider-color: #d1d1d1;

  /*========== Font and typography ==========*/
  --body-font: 'Inter', sans-serif;
  --body-font: 'Inter', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-bold: 700;
  --font-normal: 400;

  /*========== Sizes ==========*/
  --button-border-radius: 6px;
  --container-border-radius: 12px;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

h2,
h3 {
  color: var(--sub-title-color);
  font-weight: var(--font-bold);
}

h1,
h2,
h3,
p {
  line-height: 140%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.header {
  background-color: var(--primary-color);
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-weight: bolder;
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.main__subtitle {
  font-size: var(--h2-font-size);
  color: var(--sub-title-color);
  font-weight: normal;
  margin-top: 182px;
  margin-bottom: 82px;
  display: flex;
  justify-content: center;
}

.rounds__title {
  font-size: var(--h3-font-size);
  color: var(--rounds__title-color);
  font-weight: var(--font-normal);
}

.rounds__title-container-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#rounds {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.rounds__round-number {
  font-size: 12px;
  font-weight: bold;
}

button {
  background-color: var(--primary-color);
  color: var(--button-color);
  border: none;
  padding: 10px 15px;
  font-size: var(--normal-font-size);
  cursor: pointer;
  border-radius: var(--button-border-radius);
}

button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

.rounds__container {
  background-color: var(--container-color);
  padding: 20px;
  border-radius: var(--container-border-radius);
  width: 340px;
  border: 1px solid var(--divider-color);
}

.rounds__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
